<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Servercount" value="2"/>
    <add key="Server0" value="Castle Lightwolf"/>
    <add key="ServerIP0" value="192.168.6.70"/>
    <add key="LocalServerPort" value="10070"/>
    <add key="ServerPort0" value="10070"/>
    <add key="ServerRecommended0" value="1"/>
    <add key="ServerEndPointID0" value="29617"/>
    <add key="ServerLanguage0" value="0"/>
    <add key="Server1" value="Hodstock"/>
    <add key="ServerIP1" value="192.168.6.10"/>
    <add key="ServerPort1" value="10071"/>
    <add key="ServerRecommended1" value="0"/>
    <add key="ServerEndPointID1" value="29617"/>
    <add key="ServerLanguage1" value="0"/>
    <add key="StaticAccount" value="2"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="DevLocal"
     providerName="System.Data.ProviderName"
     connectionString="server=192.168.6.53;userid=fooUser;password=fooPass;database=eqoadevin;Allow User Variables=True" />
  </connectionStrings>
</configuration>
